
.popup {

    position: fixed;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0, .8);
    z-index:1000;
    opacity:0;
    display:none;
    transition: all .6s;

    &.open {
        opacity:1;
        display:block;
    }
    

}