.ag-theme-alpine {
    padding:0 1rem;

    .mytasks-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left:1rem;
        margin-right:1rem;
        margin-bottom: 5px;

        .status-headings {
            display:flex;
            flex-direction: row;
            margin-bottom:15px;

            .status-heading {
                margin: 0 5px;


            }


            .status-heading.selected {
                color: blue;
                text-decoration: underline;
            }

        } 
        .status-user {
            font-weight: bold;
        }  
    }
}